@import '~bootstrap/scss/bootstrap';

#jumbotron{
    height: 380px;
    background-image: url(../assets/images/jumbotron.jpg);
    background-size: 100%;
}

.comics-container a{
    text-decoration: none;
}

section.comic{

    padding: 80px 0;

    .my-cover{
        bottom: 110%;
        left: 0;
        img{
            border: 1px solid white;
        }
    }

    .price-container{
        background-color: #55ba59;
        padding: .4rem;
        p{
            margin: 0;
            color: white;
        }
    }
}

footer{
    padding: 40px 0;
    color: white;
    background-color: #303030;
}
